logs/*
mysql_data/*
html/vendor/*
html/sites/default/files/css/*
html/sites/default/files/js/*
html/sites/default/files/languages/*
html/sites/default/files/php/twig/*
html/sites/default/files/styles/*
